<app-header title="Fab Buttons"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-youtube" color="youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter" color="twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-facebook" color="facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
