<app-header title="Card"></app-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/eliot.jpg" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content> Awesome content, IONIC it's nice! </ion-card-content>
  </ion-card>
</ion-content>
